[submodule "packer"]
	path = packer
	url = https://github.com/colinbut/packer-example.git
[submodule "terraform"]
	path = terraform
	url = https://github.com/colinbut/terraform-aws-example.git
[submodule "vagrant"]
	path = vagrant
	url = https://github.com/colinbut/vagrant-examples
[submodule "consul"]
	path = consul
	url = https://github.com/colinbut/consul-example.git
[submodule "nomad"]
	path = nomad
	url = https://github.com/colinbut/nomad-nomad-eh.git
